.SectionDiv_Container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}

.SectionDiv_Wrapepr {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.SectionDiv_Video {
    display: flex;
    width: 100%;
    object-fit: fill;
}

.SectionDiv_Image_Box,
.SectionDiv_Image {
    display: flex;
    width: 100%;
    @media screen and (max-width: 1230px) {
        display: none;
    }
}